core/analysis/src/main/resources/META-INF/xsd/jqassistant-catalog-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jqassistant-catalog="http://www.buschmais.com/jqassistant/core/analysis/catalog/schema/v1.0"
           targetNamespace="http://www.buschmais.com/jqassistant/core/analysis/catalog/schema/v1.0"
           elementFormDefault="unqualified">

    <xs:element name="jqassistant-catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rules" type="jqassistant-catalog:RulesType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="RulesType">
        <xs:sequence>
            <xs:element name="resources" type="jqassistant-catalog:ResourcesType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResourcesType">
        <xs:sequence>
            <xs:element name="resource" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="directory" type="xs:string" use="optional" default="/META-INF/jqassistant-rules/"/>
    </xs:complexType>

</xs:schema>