core/analysis/src/main/resources/META-INF/xsd/jqassistant-rules-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jqassistant-rules="http://www.buschmais.com/jqassistant/core/analysis/rules/schema/v1.0"
           targetNamespace="http://www.buschmais.com/jqassistant/core/analysis/rules/schema/v1.0"
           elementFormDefault="unqualified">

    <xs:element name="jqassistant-rules">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="queryTemplate" type="jqassistant-rules:queryTemplateType" minOccurs="0"
                            maxOccurs="unbounded"/>
                <xs:element name="concept" type="jqassistant-rules:conceptType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="constraint" type="jqassistant-rules:constraintType" minOccurs="0"
                            maxOccurs="unbounded"/>
                <xs:element name="group" type="jqassistant-rules:groupType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="metricGroup" type="jqassistant-rules:metricGroupType" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="referenceableType" abstract="true">
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="referenceType">
        <xs:attribute name="refId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="queryTemplateType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceableType">
                <xs:sequence>
                    <xs:group ref="jqassistant-rules:queryGroup"/>
                    <xs:element name="parameterDefinition" type="jqassistant-rules:parameterDefinitionType"
                                minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="parameterDefinitionType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="jqassistant-rules:parameterTypes" use="required"/>
    </xs:complexType>

    <xs:simpleType name="parameterTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="int"/>
            <xs:enumeration value="string"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="queryGroup">
        <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="cypher" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="useQueryGroup">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="deprecated" type="xs:string" minOccurs="0"/>
            <xs:choice>
                <xs:element name="cypher" type="xs:string"/>
                <xs:element name="useQueryTemplate" type="jqassistant-rules:referenceType"/>
            </xs:choice>
            <xs:element name="parameter" type="jqassistant-rules:parameterType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="parameterType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="jqassistant-rules:parameterTypes" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="severityEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="blocker"/>
            <xs:enumeration value="critical"/>
            <xs:enumeration value="major"/>
            <xs:enumeration value="minor"/>
            <xs:enumeration value="info"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="includedReferenceType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceType">
                <xs:attribute name="severity" type="jqassistant-rules:severityEnumType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="conceptType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceableType">
                <xs:sequence>
                    <xs:element name="requiresConcept" type="jqassistant-rules:referenceType" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:group ref="jqassistant-rules:useQueryGroup"/>
                </xs:sequence>
                <xs:attribute name="severity" type="jqassistant-rules:severityEnumType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="constraintType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceableType">
                <xs:sequence>
                    <xs:element name="requiresConcept" type="jqassistant-rules:referenceType" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:group ref="jqassistant-rules:useQueryGroup"/>
                </xs:sequence>
                <xs:attribute name="severity" type="jqassistant-rules:severityEnumType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="groupType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceableType">
                <xs:sequence>
                    <xs:element name="includeConcept" type="jqassistant-rules:includedReferenceType" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="includeConstraint" type="jqassistant-rules:includedReferenceType" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="includeGroup" type="jqassistant-rules:referenceType" minOccurs="0"
                                maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="metricType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceableType">
                <xs:sequence>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="requiresConcept" type="jqassistant-rules:referenceType" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="cypher" type="xs:string"/>
                    <xs:sequence>
                        <xs:element name="parameterDefinition" type="jqassistant-rules:parameterDefinitionType"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="metricGroupType">
        <xs:complexContent>
            <xs:extension base="jqassistant-rules:referenceableType">
                <xs:sequence>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:sequence>
                        <xs:element name="metric" type="jqassistant-rules:metricType" minOccurs="1"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>