core/report/src/main/resources/META-INF/xsd/jqassistant-report-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jqassistant-report="http://www.buschmais.com/jqassistant/core/report/schema/v1.0"
           targetNamespace="http://www.buschmais.com/jqassistant/core/report/schema/v1.0"
           elementFormDefault="unqualified">

    <xs:element name="jqassistant-report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group" type="jqassistant-report:GroupType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="GroupType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="concept" type="jqassistant-report:ConceptType" minOccurs="0"/>
                <xs:element name="constraint" type="jqassistant-report:ConstraintType" minOccurs="0"/>
            </xs:choice>
            <xs:element name="duration" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="date" type="xs:dateTime" use="required"/>
    </xs:complexType>

    <xs:complexType name="RuleType" abstract="true">
        <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="result" type="jqassistant-report:ResultType" minOccurs="0"/>
            <xs:element name="status" type="jqassistant-report:StatusEnumType"/>
            <xs:element name="severity" type="jqassistant-report:SeverityType"/>
            <xs:element name="duration" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ConceptType">
        <xs:complexContent>
            <xs:extension base="jqassistant-report:RuleType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="StatusEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="success"/>
            <xs:enumeration value="failure"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SeverityType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="level" type="xs:int" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ConstraintType">
        <xs:complexContent>
            <xs:extension base="jqassistant-report:RuleType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ResultType">
        <xs:sequence>
            <xs:element name="columns" type="jqassistant-report:ColumnsHeaderType"/>
            <xs:element name="rows" type="jqassistant-report:RowsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ColumnsHeaderType">
        <xs:sequence>
            <xs:element name="column" type="jqassistant-report:ColumnHeaderType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="ColumnHeaderType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="primary" type="xs:boolean" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="RowsType">
        <xs:sequence>
            <xs:element name="row" type="jqassistant-report:RowType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="RowType">
        <xs:sequence>
            <xs:element name="column" type="jqassistant-report:ColumnType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ColumnType">
        <xs:sequence>
            <xs:element name="element" type="jqassistant-report:ElementType" minOccurs="0"/>
            <xs:element name="source" type="jqassistant-report:SourceType" minOccurs="0"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="language" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SourceType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="line" type="xs:int" use="optional"/>
    </xs:complexType>

</xs:schema>