core/plugin/src/main/resources/META-INF/xsd/jqassistant-plugin-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jqassistant-plugin="http://www.buschmais.com/jqassistant/core/plugin/schema/v1.2"
           targetNamespace="http://www.buschmais.com/jqassistant/core/plugin/schema/v1.2"
           elementFormDefault="unqualified">

    <xs:element name="jqassistant-plugin">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="model" type="jqassistant-plugin:ModelType" minOccurs="0"/>
                <xs:element name="scope" type="jqassistant-plugin:ScopeType" minOccurs="0"/>
                <xs:element name="scanner" type="jqassistant-plugin:ScannerType" minOccurs="0"/>
                <xs:element name="rules" type="jqassistant-plugin:RulesType" minOccurs="0"/>
                <xs:element name="report" type="jqassistant-plugin:ReportType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ModelType">
        <xs:sequence>
            <xs:element name="class" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ScannerType">
        <xs:sequence>
            <xs:element name="class" type="jqassistant-plugin:IdClassType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ScopeType">
        <xs:sequence>
            <xs:element name="class" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RulesType">
        <xs:sequence>
            <xs:element name="resource" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReportType">
        <xs:sequence>
            <xs:element name="class" type="jqassistant-plugin:IdClassType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IdClassType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>